<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>EMS</title>

  <link type="text/css" href="/assets/style.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!-- CSS la soo ururiyey oo la yareeyey -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- JavaScript kii ugu dambeeyay -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <!-- navbar iyado la isticmaalaya classes bootstrap ah -->

  <nav class="nav navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container">
      <a href="/" class="navbar-brand">
        <h3 class="d-inline align-middle">Employee Management System</h3>
      </a>


      <!-- button loogu talagalay kusoo muujinta mobile-ka -->
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon">

        </span>
      </button>

      <!-- button loogu talagalay kusoo muujinta mobile-ka halkan ayuu ku dhamaanaa -->


      <!-- Search bar lagu baadho qofka shaqaalaha ah magaciisa -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <input class="search" type="text" placeholder="Search with name.."
              style="margin-top:12px; margin-right: 20px; border-radius: 4px; outline: none;"></li>

          <!-- Search bar halkan ayuu ku dhamaanaa -->

          <!-- Badhan furaya modal form si lagu daro shaqaale cusub-->
          <li class="nav-item">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"
              style="margin-top:8px; border-radius: 4px;">
              Add Employee
            </button>
          </li>

          <!-- Badhan-ka halkan ayuu ku dhamaanaa -->

        </ul>
      </div>
    </div>



  </nav>

  <!-- Navbar-ka halka ayuu ku dhamaaday -->


  <!-- Dashboard leh Magacyada iyo Magaca Shaqada ee dhammaan shaqaalaha -->

  <h2 style="position:relative; top: 100px;text-align:center; color: #70E3F1">Dashboard</h2>
  <div class="container">

    <div style="display:none;">
      <div class="card text-center " id="detail" style="display:none;">
        <a href="/" class="emp">
          <div class="card-header">
            <h4>Employee</h4>
          </div>
          <div class="card-body" id="pro">
            <div><img src="/assets/img/profile.jpg" height="90px"></div>
            <div>
              <h3 class="nam"></h3>
              <p>Working as </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <% for(var i=0; i< employee.length; i++){ %>


    <div class="card text-center " id="detail">
      <a href="/<%=employee[i]._id%>" class="emp">
        <div class="card-header">
          <h4>Employee</h4>
        </div>
        <div class="card-body" id="pro">
          <div><img src="/assets/img/profile.jpg" height="90px"></div>
          <div>
            <h3 class="nam">
              <%=employee[i].name%>
            </h3>
            <p>Working as <%=employee[i].title%>
            </p>
          </div>
        </div>
      </a>
    </div>
    </div>
    <% } %>

      <!-- Dashboard-ka halkan ayuu ku dhamaaday -->


      <!-- Modal form si loogu daro shaqaale kaas oo furmaya marka badhanka shaqaale ku darista la gujiyo -->
      <div class="modal fade" id="exampleModalLong">
        <div class="modal-dialog modal-dialog centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add New Employee</h5>
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form method="POST" action="/">
                <div class="form-group">
                  <label for="name"> Name</label>
                  <!-- <input type="text" class="form-control" name="name"> -->
                  <input type="text" class="form-control" name="name" required pattern="[A-Za-z\s]+" title="Please enter a valid name using only letters">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <!-- <input type="text" class="form-control" name="email"> -->
                  <input type="email" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                  <label for="sex">Sex</label>
                  <!-- <select class="form-control" name="sex" id="exampleFormControlSelect1"> -->
                  <select class="form-control" name="sex" id="exampleFormControlSelect1" required>
                    <!-- <option>Male</option>
                    <option>Female</option> -->
                    
                    <option value="">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>

                  </select>
                </div>
                <div class="form-group">
                  <label for="name">address</label>
                  <!-- <input type="text" class="form-control" name="address"> -->
                  <input type="text" class="form-control" name="address" required>
                </div>
                <div class="form-group">
                  <label for="name">Phone</label>
                  <!-- <input type="text" class="form-control" name="phone"> -->
                  <input type="text" class="form-control" name="phone" required pattern="\d+" title="Please enter a valid phone number (digits only)">
                  <!-- <small class="text-muted">Please enter only a number.</small> -->
                </div>
                <div class="form-group">
                  <label for="name">Job Title</label>
                  <!-- <input type="text" class="form-control" name="title"> -->
                  <input type="text" class="form-control" name="title" required>
                </div>
                <div class="form-group">
                  <label for="name">Salary (in Dollars/annum)</label>
                  <!-- <input type="text" class="form-control" name="salary"> -->
                  <input type="number" class="form-control" name="salary" required>
                  <div class="form-group">
                    <label for="location">location</label>
                    <!-- <input type="text" class="form-control" name="location"> -->
                    <input type="text" class="form-control" name="location" required>
                  </div>

                </div>



                <div class="modal-footer">
                  <!-- <button class="btn btn-primary btn-block"> Add </button> -->
                  <button class="btn btn-primary btn-block" type="submit">Add</button>
                </div>
              </form>

            </div>

          </div>
        </div>
      </div>
      <!-- form-ka halkan ayuu ku dhamaanaa -->

      <section id="footer" class="bg-dark">
        <h6 id="Copyright">Copyright &copy; 2023 - CA201 All Rights Reserved</h6>
      </section>

</body>
<script src="/assets/script.js"></script>

</html>
